<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mail</title>
</head>

<body>
  <h1>This is an automated mail generator!</h1>
  <p>{{text}}</p>
  <br>
  <hr>
  <img src="https://jswilliam93.com/images/photo.jpg" alt="me">
  <h3>Joseph S. William</h3>
  <h4><a href="tel:+201211399771">012-1139-9771</a></h4>
  <h4><a href="mailto: jswilliam93@gmail.com">jswilliam93@gmail.com</a></h4>
</body>

</html>